{% extends 'base.html' %} {% block title %}About Us - My Flask Site{% endblock
%} {% block content %}
<div class="container mt-5">
  <h1>About Us</h1>
  <p class="lead">
    This site is a site built as a compilation of knowledge of the manga and
    anime series Attack on Titan, written and illustrated by Hajime Isayama.
  </p>
  <p class="lead">
    This site ensures reliable and accurate information about the series and is
    created by a Year 9 student in Tempe High School
  </p>
</div>
{% endblock %}
