{% extends 'base.html' %} {% block title %}Mikasa Ackermann{% endblock %} {%
block content %}
<div class="container mt-5">
  <h1>Mikasa Ackerman</h1>
  <img
    src="{{ url_for('static', filename='images/mikasa.jpg') }}"
    class="float-md-end ms-md-3 mb-3 img-fluid"
    alt="Mikasa Ackermann"
    style="max-width: 350px"
  />
  <p>
    Mikasa Ackerman (Japanese: ミカサ・アッカーマン, Hepburn: Mikasa Akkāman;
    alt. "Mikasa Ackermann") is a fictional character from Hajime Isayama's
    manga series Attack on Titan. Mikasa is introduced as a citizen of Paradis
    Island living with the protagonist, Eren Yeager, and his family, who took
    her in following the deaths of her parents in an attempted kidnapping. When
    giant creatures known as Titans invade the area and eat Eren's mother,
    Mikasa and Eren become members of the Military and join the Survey Corps—an
    elite group of soldiers who fight Titans outside the walls, whilst studying
    the physiology of Titans so as to better understand and defend themselves
    against these creatures. Mikasa's main motivation for fighting is her love
    for Eren, of whom she is extremely protective. She has also appeared in
    video games and the anime adaptation. Isayama based Mikasa on a real person
    he met before he became a manga artist, keeping the original idea of her
    being Asian in order to stand out within the Western look-a-like cast.
    Mikasa is voiced by Yui Ishikawa in the Japanese dub and Trina Nishimura in
    the English version of the anime. The two voice actresses were surprised by
    the popularity of their works and the charming aspect of Mikasa despite her
    usual stoicism. Mikasa's strong presence received a positive response. Being
    a member of the Ackermann clan, Mikasa demonstrates an outstanding skill in
    combat. Though she was praised for her calm personality which contrasts
    Eren's generally intense behavior, critics were also surprised by the softer
    side she shows towards Eren. Both voice actresses were also praised by the
    media.
  </p>
  <div class="clearfix"></div>
</div>

{% endblock %}
